<div class="pagination">
  <span class="step-links">
    {% if page.has_previous %}
    <a class="last-link last-link--left" href="?page=1">&lt;&lt;</a>
    <a class="next-link" href="?page={{ page_obj.previous_page_number }}"
      >&lt;</a
    >
    {% endif %}

    <span class="current">
      Страница {{ page.number }} из {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
    <a class="next-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
    <a
      class="last-link last-link--right"
      href="?page={{ page_obj.paginator.num_pages }}"
    >
      &gt;&gt;</a
    >
    {% endif %}
  </span>
</div>
