.form__row-add {
    flex-grow: 1;
    width: 60%;
}

.form-add {
    gap: 24px;
    padding: 3em 0;
    border: 1px solid #0eb77e;
    border-radius: 3em;
}

.receipe__input {
    width: 100%;
    padding: 10px 18px;
    margin-top: 8px;
}

.form-row-receipe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px
}

.form__label {
    padding-top: 8px;
}