.footer-content {
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 160px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}