{% extends 'base.html' %} {% block title %} {{ block.super }} | Новый рецепт {% endblock title %}
{% load profile_tags %}
{% block avatar %}
  {% get_profile request.user.pk as profile %}
    <img
        class="profile__img"
        src=" {{ profile.avatar.url }} "
                alt="Профиль"
    />
{% endblock %}
{% block content %}
    <section>
        <div class="center">
            <div class="account-content">
            <h2 class="account__caption h3-title">Добавьте свой рецепт</h2>
            <form method="post" class="form form-add" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="form__row-add">
                    <label for="{{ form.title.id_for_label}}" class="form-label">Название:
                        {{ form.title}}
                    </label>

                    <div class="error">{{ form.title.errors }}</div>
                </div>
                <div class="form__row-add">
                    <label for="{{ form.category.id_for_label}}" class="form__label">{{ form.category.label}}:
                        {{ form.category}}
                        
                    </label>
                    <div class="error">{{ form.category.errors }}</div> 
                </div>
                <div class="form__row-add form-row-receipe">
                    <label for="{{form.cooking_time.id_for_label}}" class="form__label">{{form.cooking_time.label}}
                        {{form.cooking_time}}
                    </label>
                    <label for="{{form.servings.label}}" class="form__label">{{form.servings.label}}
                        {{form.servings}}
                    </label>
                </div>
                <div class="form__row-add" class="form__label">
                    <label for="{{form.image.id_for_label}}" class="form__label">Фотография блюда: 
                        {{form.image}}
                    </label>
                </div>
                <div class="form__row-add">
                    <label for="{{form.description.id_for_label}}" class="form__label">Описание: </label>
                   {{form.description}}
                </div>
                <div class="form__row-add">
                    <label for="{{form.ingredient.id_for_label}}" class="form__label">Ингредиенты для приготовления: </label>
                    {{form.ingredient}}
                </div>

                <div class="form__row-add">
                    <label for="{{form.cooking_steps.id_for_label}}" class="form__label">Пошаговая инструкция по приготовлению: </label>
                   {{form.cooking_steps}}
                </div>

                <div class="form__row-add">
                    <label for="{form.tags.id_for_label}}" class="form__label">Теги:
                        {{form.tags}}
                        {% comment %} <input class="receipe__input" type="text" id="tags" placeholder="Например: полезно мясо"> {% endcomment %}
                    </label>
                </div>
                <div class="form__button">
                    <button class="btn btn--account" type="submit">Опубликовать</button>
                </div>
                {% if receipe %}
                    <a class='btn ' href=' {% url 'receips:all_receipes' %}'> Отменить </a>
                {% endif %}
            </form>
            </div>
        </div>

    </section>
    
        
{% endblock content %}
