{% extends 'base.html' %} {% block title %}Главная{% endblock title %} 
{% block content %}
<h1>Рецепты</h1>

<div class="container text-center">

<div class="row justify-content-center">
    {% for receipe in receips %}
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    {{ receipe.created}} - {{receipe.author.username}} [{{receipe.category}}]
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ receipe.title }}</h5>
                    <p class="card-text"> {{receipe.description}}</p>
                    <a href="{% url "receips:receipe_detail" receipe.slug %}" class="btn btn-primary">Посмотреть</a>
                </div>
            </div> 
        </div>
    {% endfor %}
</div>

</div>

<a href = {% url "receips:add_receipe" %}>Новый рецепт</a>
{% endblock content %}
