{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }}|{{receipe.title}} {% endblock title %}


{% block avatar %}
    <img
  class="profile__img"
  src=" {{ request.user.profile.avatar.url }} "
  alt="Профиль"/>
{% endblock avatar %}
    

{% block content %}
<main class="main receipe-detail">
        <div class="center">
            <div class="recipe-header">
                <h1 class="receipe-header__title page-caption"> {{receipe.category}} / {{ receipe.title}}</h1>
                <div class="receipe-info recipe-header__info">
                    <div class="receipe-info__user user-info info-item">
                        <div class="user-info__avatar avatar">
                            <img class="avatar__image" src=" {{receipe.author.profile.avatar.url}}" alt="avatar">
                            {% comment %} <img class="avatar__image" src=" {% static 'img/user.jpg' %}" alt="avatar"> {% endcomment %}
                        </div>
                        <div class="info__right">
                            <div class="user-info__name">{{receipe.author}}</div>
                            <div class="user-info__added">{{receipe.created | date:"d.m.Y"}}</div>
                        </div>
                    </div>
                    <div class="receipe-info__cootime cooktime info-item">
                        <div class="cooktime-image-warapper">
                            <img class="timer__image" src="{% static 'img/receipe/Timer.svg' %} " alt="timer">
                        </div>
                        <div class="info__right">
                            <div class="info__right__caption">Время готовки</div>
                            <div class="cookiteme__time">{{receipe.cooking_time}} мин</div>
                        </div>
                    </div>
                    <div class="receipe-info__serv servings info__right">
                        <div class="info__right__caption">Количество порций</div>
                        <div class="receipe-info__servings">{{receipe.servings}}</div>
                    </div>
                    <div class="receipe-info__tags tags-detail info-item">
                        <div class="tags-detail-wrapper">
                            <img class="tags__image" src=" {% static 'img/receipe/ForkKnife.svg' %} " alt="tags">
                        </div>
                        <div class="tags-detail-caption">{{receipe.tags.all | join:", "}}</div>
                    </div>
                </div>
                {% if receipe.image  %}
                    <div class="recipe-header__image-wrapper">
                    <img class="receipe-image" src=" {{ receipe.image.url }} " alt="receipe-image">
                </div>
                {% endif %}
                
                <div class="recipe-header__description">
                    {{receipe.description | linebreaks}}
                </div>
            </div>
            <div class="receipe-detail">
                <div class="receipe-detail__ingrediendts ingredients">
                    <h3 class="ingredients__title subtitle">Ингредиенты:</h3>
                    <div class="ingredients__text text">
                        {{receipe.ingredient  | linebreaks}}
                    </div>
                </div>
                <div class="receipe-detail__instructions instructions">
                    <h3 class="instructions__title subtitle">Инструкции:</h3>
                    <div class="instructions__text text">
                        {{receipe.cooking_steps | linebreaks}}
                    </div>
                </div>
            </div>
            <div class="receipe-likes">
                <div class="receipe-likes-content likes">
                    {% if not request.user.is_authenticated %}
                        <a class="likes__link" title="Зарегистрируйтесь, чтобы поставить  лайк">
                    {% elif  request.user == receipe.author %}
                        <a class="likes__link" title="Авторы не могут себя лайкать">
                    {% else %}
                         <a class="likes__link" data-slug="{{receipe.slug}}" 
                         data-action="{% if request.user in receipe.user_likes.all %}unlike{% else %}like{%endif%}"
                         href="" title="Посавьте лайк если вам понравился рецепт">
                    {% endif %}
                        <img src=" {% static 'img/receipe/like-button-icon.svg' %}" alt="icon" class="likes__image"></a>
                    <div class="likes__data">{{receipe.user_likes.count}}</div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

{% block js_loaded %}
    const like_url = "{% url 'receips:like_receipe' %}"
    options = {method: "POST", headers: {"X-CSRFToken": csrf_token}, mode: "same-origin"}
    document.querySelector("a.likes__link").addEventListener('click', function(event) {
        event.preventDefault()
        const btn = this

        const formData = new FormData()
        formData.append('slug', btn.dataset.slug)
        formData.append('action', btn.dataset.action)
        options["body"] = formData

        fetch(like_url, options).then(response => response.json()).then(data => {
            if (data["status"] === "ok") {
                const prevValue = btn.dataset.action
                const newValue = prevValue  === "like"? "unlike" : "like"
                btn.dataset.action = newValue;

                const likesData = document.querySelector(".likes__data")
                likesData.innerHTML = prevValue  === "like"? parseInt(likesData.innerHTML) + 1 : parseInt(likesData.innerHTML) - 1
                console.log(likesData.innerHTML)
            }
        })
    })
{% endblock js_loaded %}