{% extends "base.html" %} {% load static %} {% block title %} {{ block.super}} |
Пароль сменен {% endblock %} {% block content %}
<section class="acount">
  <div class="center">
    <div class="account-content">
      <h2 class="account__caption h3-title">Изменение пароля</h2>
        <div class="account-message">
            Ваш пароль успешно изменен.
            <a class="btn btn-password-change" href="{% url 'receips:index' %}"> На главную страницу</a>
        </div>
       
      </form>
    </div>
  </div>
</section>
{% endblock content %}
