{% extends "base.html" %} {% load static %} {% block title %} {{ block.super}} |
Смена пароля {% endblock %} {% block content %}
<section class="acount">
  <div class="center">
    <div class="account-content">
      <h2 class="account__caption h3-title">Смените папроль</h2>
      {{form.non_field.errors}}
      <form
        method="post"
        class="form"
        action="{% url 'account:change_password' %}"
      >
        {% csrf_token %}
        <div class="form__row">
          <label class="control" for="{{form.old_password.id_for_label}}">
            <img
              class="control__icon"
              src=" {% static 'img/pwd.svg' %}"
              alt=""
            />
            {{form.old_password}}
          </label>
          <div class="error">{{form.old_pasword.errors}}</div>
        </div>

        <div class="form__row">
          <label class="control" for="{{form.new_password1.id_for_label}}">
            <img
              class="control__icon"
              src="{% static 'img/pwd.svg' %}"
              alt=""
            />
            {{form.new_password1}}
          </label>
          <div class="error">{{form.new_password1.errors}}</div>
        </div>
        <div class="form__row">
          <label class="control" for="{{form.new_password2.id_for_label}}">
            <img
              class="control__icon"
              src="{% static 'img/pwd.svg' %}"
              alt=""
            />
            {{form.new_password2}}
          </label>
          <div class="error">{{form.password2.errors}}</div>
        </div>

        <div class="form__button">
          <button class="btn btn--account" type="submit">Подтвердить</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
